<h1><%= t('tasks.new') %></h1>
<%= link_to t('tasks.new'), new_task_path %>
<%= form_with url: tasks_path, method: :get, local: true do %>
  <div>
    <%= label_tag :name_query, t('tasks.search_by_name') %>
    <%= text_field_tag :name_query, params[:name_query] %>
    <%= submit_tag t('tasks.button.search_by_name'), name: nil %>
  </div>
  <div>
    <%= label_tag :status, t('tasks.filter_by_status') %>
    <%= select_tag :status, options_for_select(status_filter_options, params[:status]), onchange: 'this.form.submit();' %>
  </div>
  <div>
    <%= label_tag :sort_order, t('tasks.sort_by') %>
    <%= select_tag :sort_order, options_for_select(sort_order_options, params[:sort_order]), onchange: 'this.form.submit();' %>
  </div>
<% end %>
<ul>
  <% @tasks.each do |task| %>
    <li id="<%= dom_id(task) %>">
      <%= link_to task.name, task %>
      <%= link_to t('tasks.edit'), edit_task_path(task) %>
      <%= link_to t('tasks.destroy'), task, data: {
                    turbo_method: :delete,
                    turbo_confirm: t('tasks.destroy_confirm')
                  } %>
      <br>
      <%= t('tasks.attributes.displayed_priority', priority: Task.human_attribute_name(task.priority)) %>
      <br>
      <%= t('tasks.attributes.displayed_status', status: Task.human_attribute_name(task.status)) %>
      <br>
      <%= t('tasks.attributes.created_at', time: task.created_at) %>
      <br>
      <%= t('tasks.attributes.end_time', time: task.end_time) %>
    </li>
  <% end %>
</ul>

<%= paginate @tasks %>