<h1>Tasks</h1>
<%= link_to 'New Task', new_task_path %>
<ul>
  <% @tasks.each do |task| %>
    <li id="task_<%= task.id %>">
      <%= link_to task.name, task %>
      <%= link_to 'Edit', edit_task_path(task) %>
      <%= link_to 'Destroy', task, data: {
                    turbo_method: :delete,
                    turbo_confirm: "確定要刪除此任務嗎？",
                  } %>
    </li>
  <% end %>
</ul>
