<h1 class="text-2xl font-bold mb-4">Users</h1>
<%= link_to 'New User', new_admin_user_path, class: "inline-block bg-blue-500 text-white px-4 py-2 rounded-md mb-4" %>
<div class="overflow-x-auto">
  <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
    <thead class="bg-gray-200">
      <tr>
        <th class="py-2 px-4 text-left">Name</th>
        <th class="py-2 px-4 text-left">Email</th>
        <th class="py-2 px-4 text-left">Role</th>
        <th class="py-2 px-4 text-left">Tasks Count</th>
        <th class="py-2 px-4 text-left" colspan="4"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr class="border-b">
          <td class="py-2 px-4"><%= user.name %></td>
          <td class="py-2 px-4"><%= user.email %></td>
          <td class="py-2 px-4"><%= user.role %></td>
          <td class="py-2 px-4"><%= user.tasks.count %></td>
          <td class="py-2 px-4">
            <%= link_to 'Edit', edit_admin_user_path(user), class: "text-yellow-500 hover:text-yellow-700" %>
          </td>
          <td class="py-2 px-4">
            <%= link_to 'Destroy', admin_user_path(user), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "text-red-500 hover:text-red-700" %>
          </td>
          <td class="py-2 px-4">
            <%= link_to 'Tasks', tasks_admin_user_path(user), class: "text-green-500 hover:text-green-700" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
